<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/todo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Todo</title>
</head>


<body>
    
    <div class="container">
    <h1>Todolist</h1>
    <div class="input-container">
        <form action="/todo" method="post" class="input-form">
            <input type="text" name="task" class="todo-input">
            <button type="submit" class="add-btn"><i class="fas fa-plus"></i></button>
        </form>
    </div>

    <div class="todo-container">
            <% for (let i = 0; i <data.length; i++) { %>
            <% let a = data[i].date; %>
            <% let dd = a.getDate(); %>
            <% if (dd < 10) { %>
            <%dd = "0"+dd; %>
            <% } %>
            <% let mm = a.getMonth() + 1; %>
            <% if (mm < 10) { %>
            <% mm = "0"+mm; %>
            <%} %>
            <% let y = a.getFullYear(); %>
            <% let z = y.toString(); %>
            <% let yy = z.slice(2, 4); %>
            <% let date = dd + '/' + mm + '/' + yy; %>
                <section class="todo">
                    <p class="date"><%= date %></p>
                    <p class="task"><%= data[i].task %></p>
                    <section class="buttons">
                        <a class="btn" href="/edit/<%= data[i]._id%>"><i class="far fa-edit"></i></a>
                        <a class="btn" href="/delete/<%= data[i]._id%>"><i class="fas fa-trash"></i></a>
                    </section>
                    
                </section>
                <hr class="hr">
            <%} %>
        </div>
        <% if (totalPages > 0) { %>
            <div class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <% if (i == currentPage) { %>
                    <section class="active pageBtn"><a class="a-tag"><%= i%></a></section> 
                <% } else { %>
                    <section class="pageBtn"><a class="a-tag" href="/<%= i %>"><%= i %></a></section>
                <%} %>
            <%} %>
        <%} %>
        </div>                
    </div>
    

</body>

</html>